# Minecraft server
MC_VERSION=
MC_TYPE=VANILLA
MC_MEMORY=4G
MC_PORT=25565
RCON_PASSWORD=

# Backup
GCP_PROJECT= # GCP project id
BACKUP_DEST_DIR=<bucket>/world
BACKUP_INTERVAL=2h
PRUNE_BACKUPS_DAYS=30
